doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/images/site-logo.png" type="image/x-icon")
  body
    block content
   #container.col
       img(src="/images/site-logo.png", alt="", srcset="")