body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00b7ff;
}
.col {
  text-align: center;
}
img {
  position: relative;
  z-index: 45;
  width: auto;
  height: 200px;
  object-fit: cover;
}
