body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.col {
  background-color: black;
  opacity: 0.2;
  position: relative;
}
img {
  position: relative;
  z-index: 45;
  width: auto;
  height: 200px;
  object-fit: cover;
}
